/* Here I put all the styles in this single file.( There could be in diferent css files).  */

.sidebar {
  width: 100px;
  position: fixed;
  top: 0;

  bottom: 0;
  border-radius: 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.leftsidebar {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rightsidebar {
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(187, 252, 234);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.logo {
  height: 2.6rem;
  border-radius: 50%;
}
.leftItems {
  /* width: 100%; */
  padding: 0.5rem;
  border-bottom: 0.1px solid rgb(231, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightItems {
  margin-top: 1.5rem;
  border-top: 2px solid rgb(183, 179, 179);
}
.parasx {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #757575;
  font-family: Inter;
  font-size: 10px;
  padding: 0 5px;
  text-align: center;
  margin-bottom: 1rem;
}
.icon {
  height: 1.4rem;
  width: 1.4rem;
  color: #3d3d3d;
  margin-bottom: 1rem;
  cursor: pointer;
}

.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.editbox,
.sidebarright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pencil {
  height: 1.3rem;
  width: 1.3rem;
  color: gray;
}
.edittext {
  font-size: 1rem;
  color: gray;
  font-weight: 500;
}
.editbox {
  margin-top: 1.5rem;
  cursor: pointer;
}
.mid {
  width: 100%;
}
nav {
  position: fixed;
  top: 0px;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  width: calc(100% - 270px);
  margin-right: 125px;
  margin-left: 130px;
  height: 60px;
  z-index: 10;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  border-radius: 8px;
  box-sizing: border-box;
}
nav p {
  font-size: 1.3rem;
  font-weight: 600;
}

.jobscontainer {
  margin-top: 5rem;
  padding: 1rem 2rem;
  width: calc(100% - 250px);
  box-sizing: border-box;
  margin-right: 125px;
  margin-left: 130px;
}
.jobsheading {
  text-align: center;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}

.jobsheading::after {
  content: "";
  position: absolute;
  left: 45%;
  top: 30px;
  height: 1px;
  width: 120px;
  background-color: #3522e2;
}
.inputcontainer {
  display: flex;
  align-items: center;
  outline: #323232;
  border: 0.1px solid rgb(215, 213, 213);
  width: fit-content;
  gap: 0.5rem;
  position: relative;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}
.inputcontainer:focus {
  border: 0.1px solid rgb(159, 181, 219);
}
.input {
  border: none;
  outline: none;
  padding: 0;
  text-transform: capitalize;
}
.inputcontainer svg {
  margin-bottom: 0;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.jobs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.jobcard {
  border: 0.1px solid rgb(238, 235, 235);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
}
.jobcardinfo {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.jobcardinfo img {
  height: 3rem;
  width: 2rem;
}
.jobcardinfo p {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
  margin-top: 0;
}
.jobcardinfo h6 {
  font-size: 1rem;
  line-height: 1.5;
  color: #3d3d3d;
  font-weight: 400;
  margin: 0;
}
.location {
  color: #000 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  margin-top: 2px !important;
  text-transform: capitalize;
}
.jobcardcontent {
  margin-top: 3rem;
}
.descriptionheading {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #323232;
}
.description {
  font-size: 0.9rem;
  font-weight: 400;
  position: relative;
}
.description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
  pointer-events: none;
}
.ref {
  height: 4rem;
}
.jobcompany,
.jobrole {
  text-transform: capitalize;
}
.viewjob {
  color: rgb(73, 67, 218);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
}
.seemore {
  color: rgb(73, 192, 120);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.floatdiv {
  position: absolute;
  left: 0;
  bottom: 27%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 2.4rem;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  border: 0.1px solid rgb(215, 213, 213);
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdownitem {
  width: 100%;
  border-bottom: 0.1px solid rgb(244, 239, 239);
  padding: 0.1rem 0.2rem;
  color: #757575;
  cursor: pointer;
  text-transform: capitalize;
}
.selectedval {
  text-transform: capitalize;
  background-color: #eae9e9;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem 0.2rem;
}
.close {
  height: 0.75rem;
  width: 0.75rem;
  cursor: pointer;
}
.applybtn {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  background-color: rgb(85, 239, 196);
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1180px) {
  .jobs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 840px) {
  .jobs {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 580px) {
  .rightsidebar {
    display: none;
  }

  .sidebar {
    width: 50px;
  }

  .jobscontainer {
    padding-right: 0;
    width: calc(100% - 110px);
    box-sizing: content-box;
    margin-right: 125px;
    margin-left: 70px;
  }
  nav {
    width: calc(100% - 90px);
    margin-left: 80px;
  }
}
